@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #5a5d5a;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/
.timer { margin: 0px 30px 50px; }

.buttons { margin-bottom: 30px; }

.buttons div, .content { position: absolute; }

.buttons div:nth-of-type(1), .buttons div:nth-of-type(3) { bottom: 35px; }

.buttons div:nth-of-type(1) { left: 20%; }

.buttons div:nth-of-type(2) { bottom: 10px; }

.buttons div:nth-of-type(3) { right: 20%; }

.result::-webkit-scrollbar { width: 7px; }

.result::-webkit-scrollbar-thumb { background-color: #02b79f; }

.result::-webkit-scrollbar-track, .result::-webkit-scrollbar-thumb { border-radius: 10px; }

.buttons a:hover::before { 
  -webkit-box-shadow: inset 1px 1px 10px #7c7c7c; 
  box-shadow: inset 1px 1px 10px #7c7c7c; 
}

.content {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
}

.stopwatch {
  padding: 85px 0px;
  border-radius: 50%;  
  margin: 30px 0;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 20px #000;
  box-shadow: 1px 0px 20px #000;
}

.time {  
  color: #259399;
  font-size: 50px;
}

.buttons, .liRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.buttons a {
  display: inline-block;
  font-size: 20px;
  text-indent: -9999px; 
}

.buttons a::before {
  border-radius: 50%;
  background-color: #b3d7cd;
  color: #b45a4d;
  float: right; 
  font-family: FontAwesome;
  text-indent: 0;  
  -webkit-transition: all .5s ease;  
  -o-transition: all .5s ease;  
  transition: all .5s ease;
}

.start::before {
  content: "\f04b";
  padding: 10px 11px 10px 16px;
}

.reset::before {
  content: "\f01e";
  padding: 10px 12px;
}

.lap::before {
  content: "\f017";
  padding: 9px 11px;
}

.stop::before {
  content: "\f04c";
  padding: 10px 12px;
}

.lap_info { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.result {
  max-height: 200px;
  border-radius: 5px;
  display: block;  
  background-color: #b3d7cd;
  color: #b45a4d;
  overflow-y: scroll;
}

.liRow {
  padding: 10px 0;
  margin: 5px 0;
}

.lap_number {
  text-transform: capitalize;
  font: bold 15px Arial;
}
/*=================================
  main styling ends here
=================================*/